/*events*/
#hireMe:hover, #menuBtn:hover, #adress:hover, #number:hover,
#mail:hover, #facebook:hover, #instagram:hover, #github:hover {
	color:gray; 
	transition:all 0.3s;
}

/*body*/
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

body {
    margin: 0;
    font-size: 1.3em;
    font-weight: 200;
    line-height: 1.4;
    background: #fff;
    width: 100%;
    height: 100%;
}


/*right-push-menu*/
#menu {
    position: fixed;
    top: 0;
    right: -450px;

	width:450px;
	height:800px;
	margin-top: 88.5px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    background-color: #f8f8f8;
}

#menu ul {
    padding: 23% 38%;
    list-style-type: none;
}

#menu ul li a {
    display: block;

    font-size: 38px;
    margin-bottom: 10px;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    text-decoration: none;
    color: #232629;
}

#menu ul li a:hover {
    1letter-spacing: 1px;
    color:gray; 
}

/*header*/
header {
	1background-color:white;
	1position: fixed;
	padding-top: 2%;
	width: 100%;
	height: 60px;
}

#hireMe {
	margin-left: 6%;
	position: absolute;
	cursor:pointer;
}

#menuBtn {
	margin-right: 6%;
	float: right;
	cursor:pointer;
}


/*.frontPage*/
.frontPage {
	position: relative;
	font-weight: 200;

    -webkit-transition: all 0.8s ease-out;
       -moz-transition: all 0.8s ease-out;
         -o-transition: all 0.8s ease-out;
            transition: all 0.8s ease-out;	
}

.frontVideo {
	width: 100%;
}

.title {
	position: absolute;
	width: 100%;
	margin-top: 18%;
	text-align: center;
	color:white;
}

.mainTitle {
	font-family: 'Poiret One', cursive;
	font-size: 5em;
}


/*.articlePage*/
.articlePage {
	margin: 0% 6%;             
	font-size: 1.6em;
}

article {
	margin-top: 5%;
	margin-bottom: 15%
}

.one {
	width: 56%;
	padding-left: 42%;
}

.two {
	width: 60%
}

#twoImg {
	width: 100%;
}

.two p {
	width:80%;
}

.three {
	margin-left: 30%;
	width: 70%;
}

#threeImg {
	width: 100%;
}

#fourImg {
	margin-left: -7%;
	width: 90%;
}

#fiveImg {
	width: 55%;
}

.six {
	margin-left: 40%;
	width: 60%;
}

#sixImg {
	width: 100%;
	
}

.six p {
	width: 80%;
}

/*footer*/
footer {
	width: 100%;
	height: 150px;
	background-color: #f8f8f8;
	padding-top: 4%;
}

.leftPart {
	margin-left: 6%;
	position: absolute;
	cursor:pointer;
}

.rightPart {
	margin-right: 10%;
	float: right;
	cursor:pointer;
}